{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block contenido %}
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-3 col-lg-2 d-flex justify-content-center align-items-center h-100"><a class="btn d-block btn-secondary" href="{% url 'seleccion_tipo_intercambiador' %}">↶ Regresar</a></div>
  <div class="col-md-6 col-lg-8"><h3 class="text-center" style="color: #e31e24;">Intercambiadores de Calor Tubo/Carcasa</h3></div>
  <div class="col-md-3 col-lg-2 d-flex justify-content-center align-items-center h-100"><a class="btn d-block btn-success" href="{% url 'seleccion_tipo_intercambiador' %}">+ Nuevo</a></div>
</div>
<hr>
<div class="row mb-2">
    <div class="d-flex flex-column col">
      <label for="tag">Tag:</label>
      <input type="text" name="tag" id="tag" maxlength="20" class="form-control">
    </div>
    <div class="d-flex flex-column col">
        <label for="empresa">Empresa:</label>
        <select name="empresa" id="empresa" class="form-control">
            <option value="">
                ----------------------------
            </option>
        </select>
    </div>
    <div class="d-flex flex-column col">
        <label for="complejo">Complejo:</label>
        <select name="complejo" id="complejo" disabled="disabled" class="form-control">
            <option value="">
                ----------------------------
            </option>
        </select>
    </div>
    <div class="d-flex flex-column col">
        <label for="planta">Planta:</label>
        <select name="planta" id="planta" disabled="disabled" class="form-control">
            <option value="">
                ----------------------------
            </option>
        </select>
    </div>
</div>

<table class="table table-dark table-striped table-hover table-bordered">
    <thead class="text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tag</th>
        <th scope="col">Planta</th>
        <th scope="col">Complejo</th>
        <th scope="col">Empresa</th>
        <th scope="col">Simulaciones</th>
        <th scope="col">Ficha Técnica</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for x in numeros %}
      <tr>
        <th scope="row">{{x}}</th>
        <td>380-A</td>
        <td>Olefinas I</td>
        <td>Ana María Campos</td>
        <td>Pequiven</td>
        <td>
          <a class="btn btn-danger"><img width="25px" src="{% static 'img/iconos/simulacion.png' %}" alt="Ir a la pantalla de Simulaciones"></a>
        </td>
        <td>
          <div class="modal fade" id="ficha_{{x}}" tabindex="-1" aria-labelledby="ficha_{{x}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content text-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="ficha_{{x}}Label">Ficha Técnica Tubo/Carcasa 380-A (Olefinas I)</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
              </div>
            </div>
          </div>
          <button  class="btn btn-success"><img width="25px" src="{% static 'img/iconos/ficha.png' %}" alt="Ir a la pantalla de Simulaciones"></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-between">
  <div>
    <form method="get">
      <button class="btn btn-danger d-inline-flex" style="color: black;"><img src="{% static 'img/iconos/pdf.png' %}" width="20px" alt="Ícono Reporte PDF">&nbsp;Guardar Reporte PDF</button>
      <button class="btn btn-success d-inline-flex" style="color: black;"><img src="{% static 'img/iconos/xlsx.png' %}" width="20px" alt="Ícono Reporte XLSX">&nbsp;Guardar Reporte XSXL</button>
    </form>
  </div>
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link bg-dark text-white" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link bg-dark text-white" href="#">1</a></li>
        <li class="page-item"><a class="page-link bg-dark text-white" href="#">2</a></li>
        <li class="page-item"><a class="page-link bg-dark text-white" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link bg-dark text-white" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
  </nav>
</div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}