{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block contenido %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3 col-lg-2 d-inline-flex justify-content-center align-items-center">
            <a class="btn d-block btn-secondary" href="{% url 'consulta_calderas' %}">↶ Regresar</a>
        </div>
        <div class="col-md-6 col-lg-8">
            <h3 class="text-center" style="color: #e31e24;">Datos Adicionales de la Caldera {{caldera.tag}}</h3>
        </div>
        <div class="col-md-3 col-lg-2 d-inline-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-success text-dark" data-bs-toggle="modal" data-bs-target="#ficha_{{caldera.pk}}"><img width="25px" src="{% static 'img/iconos/ficha.png' %}" alt="Mostrar ficha técnica"> Ficha Técnica</button>
            {% include 'calderas/partials/ficha.html' %}
        </div>
    </div>

    <hr>

    {% if error %}
    <h5 class="text-center" style="color: #e31e24;">{{error}}</h5>
    <hr>
    {% endif %}

    <h4 class="text-center" style="color: #e31e24;">Corrientes de la Caldera</h4>
    <table class="table table-bordered table-hover text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>TIPO</th>
                <th>NOMBRE</th>                
                <th>FLUJO MÁSICO</th>
                <th>DENSIDAD</th>
                <th>TEMP. OPERACIÓN</th>
                <th>PRESIÓN</th>
                <th>ESTADO</th>
            </tr>
        </thead>

        <tbody>
            {% for form in forms_corrientes %}
            <tr>
                <td>
                    {% render_field form.numero class="form-control" placeholder="Número de la Corriente" %}
                    <small>{{form.numero.errors}}</small>
                </td>                
                <td>
                    {% render_field form.tipo class="form-control" disabled="" %}
                    {% render_field form.tipo class="form-control" hidden="" %}
                    <small>{{form.tipo.errors}}</small>
                </td>
                <td>
                    {% render_field form.nombre class="form-control" placeholder="Nombre de la Corriente" %}
                    <small>{{form.nombre.errors}}</small>
                </td>
                <td>  
                    <div class="input-group mb-1">
                        {% render_field form.flujo_masico min="0.0001" class="form-control" placeholder="Flujo Másico" %}
                        {% render_field form.flujo_masico_unidad class="form-select" %}
                        <small>{{form.flujo_masico.errors}}</small>
                    </div>                 
                </td>
                <td>
                    <div class="input-group mb-1">
                        {% render_field form.densidad min="0.0001" class="form-control" placeholder="Densidad" %}
                        {% render_field form.densidad_unidad class="form-select" %}
                        <small>{{form.densidad.errors}}</small>
                    </div>      
                </td>
                <td>
                    <div class="input-group mb-1">
                        {% render_field form.temp_operacion min="0.0001" class="form-control" placeholder="Temp. de Operación" %}
                        {% render_field form.temp_operacion_unidad class="form-select" %}
                        <small>{{form.temp_operacion.errors}}</small>
                    </div>      
                </td>
                <td>
                    <div class="input-group mb-1">
                        {% render_field form.presion min="0.0001" class="form-control" placeholder="Presión (abs.)" %}
                        {% render_field form.presion_unidad class="form-select" %}
                        <small>{{form.presion.errors}}</small>
                    </div>              
                </td>
                <td>
                    <div class="input-group mb-1">
                        {% render_field form.estado class="form-select" %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  

    <hr>

    <h4 class="text-center" style="color: #e31e24;">Características Adicionales</h4>
    <table class="table table-bordered table-hover text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>NOMBRE</th>
                <th>TIPO UNIDAD</th>
                <th>25%</th>
                <th>50%</th>
                <th>75%</th>
                <th>100%</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for form in forms_caracteristicas %}
            <tr>
                <td>
                    {% render_field form.nombre class="form-control" placeholder="Nombre" %}
                </td>
                <td>
                    {% render_field form.tipo_unidad class="form-control" placeholder="Tipo de Unidad" %}
                </td>
                <td>
                    {% render_field form.carga_25 class="form-control" placeholder="Valor al 25%" %}                    
                </td>
                <td>
                    {% render_field form.carga_50 class="form-control" placeholder="Valor al 50%" %}
                </td>
                <td>
                    {% render_field form.carga_75 class="form-control" placeholder="Valor al 75%" %}
                </td>
                <td>
                    {% render_field form.carga_100 class="form-control" placeholder="Valor al 100%" %}
                </td>
                <td>
                    <a href="#" class="btn btn-success">
                    {% if forloop.first %}
                        +
                    {% else %}
                        -
                    {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
    
    <hr>
    
</form>

{% endblock %}

{% block extra_javascript %}
<script src="/static/js/calderas/creacion.js"></script>
{% endblock %}