<div class="row">
    <div class="col-12">
        <label class="form-label" for="fluido_carcasa">Fluido:</label>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-2">
        <div class="row">
            <div class="col-8 d-flex flex-column">    
                <select class="form-select" name="fluido_{{lado}}" id="fluido_{{lado}}">
                    {% for fluido in fluidos %}
                    <option value="{{fluido.pk}}" {% if previo.fluido_carcasa == fluido.pk|slugify %}selected{% endif %}>{{fluido}}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="col-4 d-flex justify-content-center align-items-start">
                <button data-bs-toggle="modal" data-bs-target="#condiciones_diseno_fluido_{{lado}}" class="btn btn-danger no-submit w-100">+</button>
                <div class="modal fade" id="condiciones_diseno_fluido_{{lado}}" tabindex="-1" aria-labelledby="condiciones_diseno_fluido_{{lado}}Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Registrar Fluido de Carcasa</h5>
                          <button id="condiciones_diseno_fluido_{{lado}}Close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 style="color: #e31e24;" class="text-center">Compuesto por Cp en Ficha</h3>
                            <div class="row">
                                <div class="col-5">
                                    <label for="etiqueta">Nombre del Compuesto:</label>
                                    <input class="form-control" id="nombre_compuesto_{{lado}}" type="text" maxlength="25">
                                </div>
                                <div class="col-5">
                                    <label for="etiqueta">Cp del Compuesto:</label>
                                    <input class="form-control" id="cp_compuesto_{{lado}}" type="number" step="0.0001">
                                </div>
                                <div class="col-2 d-flex justify-content-center align-items-end">
                                    <button id="enviar_compuesto_{{lado}}_ficha" class="no-submit btn btn-danger w-100" disabled>Enviar</button>
                                </div>
                            </div>
                          <hr>
                          <h3 style="color: #e31e24;" class="text-center">Compuesto por Código CAS</h3>
                            <div class="row">
                                <div class="col-5">
                                    <label for="etiqueta">Código CAS:</label>
                                    <input class="form-control" id="cas_compuesto_{{lado}}" type="text" maxlength="25" pattern="[0-9]+-[0-9]+-[0-9]+">
                                </div>
                                <div class="col-5">
                                    <label for="etiqueta">Nombre:</label>
                                    <input class="form-control" id="nombre_compuesto_{{lado}}_cas" type="text" maxlength="25">
                                </div>
                                <div class="col-2 d-flex justify-content-center align-items-end">
                                    <button id="guardar_datos_cas_{{lado}}" class="no-submit btn btn-danger w-100" disabled>Enviar</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6 d-flex flex-column">
                <label for="cp_liquido_{{lado}}">Cp Prom. Líquido:</label>
                <div class="input-group mb-2">
                    <input style="width: 60% !important;" class="form-control" type="number" step="0.0001" max="999999.9999" name="cp_liquido_{{lado}}" min="0.0001" id="cp_liquido_{{lado}}" 
                    {% if not previo.cp_tubo %}disabled{% endif %} value="{{previo.cp_liquido_carcasa}}">
                    <select style="width: 40% !important;" class="form-select" name="unidad_cp" id="unidad_cp" {% if lado == 'tubo' %}disabled{% endif %}>
                        {% for unidad in unidades_cp %}
                        <option value="{{unidad.pk|slugify}}">{{unidad}}</option>
                        {% endfor %}
                    </select>
                </div>  
            </div>
            <div class="col-6 d-flex flex-column">
                <label for="cp_gas_{{lado}}">Cp Prom. Gas:</label>
                <div class="input-group mb-2">
                    <input style="width: 60% !important;" class="form-control" type="number" step="0.0001" max="999999.9999" name="cp_gas_carcasa" min="0.0001" id="cp_gas_{{lado}}" 
                    {% if not previo.cp_tubo %}disabled{% endif %} value="{{previo.cp_gas_carcasa}}">
                    <select style="width: 40% !important;" class="form-select" name="unidad_cp" id="unidad_cp" disabled>
                        <option value="">J/KgK</option>
                    </select>
                </div>  
            </div>
        </div>
    </div>
</div>