{% extends 'base.html' %}
{% block contenido %}
<h2 class="text-center">Intercambiadores</h2>
<a class="btn btn-success" href="{% url 'consulta_simulaciones' %}">Simulaciones en Intercambiadores</a>

<table class="table table-bordered table-hover mt-2">
    <thead class="table-danger">
        <th>Equipo</th>
        <th>Datos</th>
    </thead>

    <tbody><!-- Aquí habría que hacer una paginación -->
        {% for intercambiador in intercambiadores %}
        <td></td>
        <td></td>
        {% empty %}
        <td colspan="2">No se han registrado intercambiadores.</td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}