{% extends 'base.html' %}

{% block contenido %}
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-dark text-center">
            <td colspan="2">Resultados del Método Efectividad-NTU</td>
        </tr>
        <tr class="table-danger">
            <td>Ítem</td>
            <td>Valor</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-dark">Temperatura Promedio Servicio</td>
            <td>{{resultados.tprom_serv|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">Temperatura Promedio Proceso</td>
            <td>{{resultados.tprom_proc|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">LMTD</td>
            <td>{{resultados.lmtd|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">Área de Transferencia</td>
            <td>{{resultados.area_transferencia|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">U</td>
            <td>{{resultados.u|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">UA</td>
            <td>{{resultados.ua|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">NTU</td>
            <td>{{resultados.ntu|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">% Efectividad</td>
            <td>{{resultados.efectividad|floatformat:5}}</td>
        </tr>
        <tr>
            <td class="table-dark">Eficiencia</td>
            <td>{{resultados.eficiencia|floatformat:2}}%</td>
        </tr>
        <tr>
            <td class="table-dark">Ensuciamiento</td>
            <td>{{resultados.ensuciamiento}}%</td>
        </tr>
    </tbody>
</table>
{% endblock %}