{% extends 'base.html' %}
{% load static %}

{% block head %}
 <link rel="stylesheet" href="{% static 'css/bienvenida/index.css' %}">
{% endblock %}

{% block contenido %}
<div class="h-100 row mb-3">
    <div class="mb-2 col-sm-12 col-lg-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center" style="color: #e31e24;">Módulo de Intercambiadores de Calor</h2>
        <hr style="width: 100%;">
        <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"  style="width: 100%;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/bienvenida/intercambiadores.jpg' %}" class="d-block w-100" alt="Intercambiadores de Calor">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Intercambiadores de Calor</h5>
                </div>
              </div>
              <div class="carousel-item">
                <a href="{% url 'consulta_tubo_carcasa' %}"><img src="{% static 'img/intercambiadores/tipos/tubo_carcasa.jpg' %}" class="d-block w-100" alt="Tubo/Carcasa"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Tubo/Carcasa</h5>
                </div>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="{% static 'img/intercambiadores/tipos/doble_tubo.jpg' %}" class="d-block w-100" alt="Doble Tubo"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Doble Tubo</h5>
                </div>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="{% static 'img/intercambiadores/tipos/placas.jpg' %}" class="d-block w-100" alt="Placas"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Placas</h5>
                </div>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="{% static 'img/intercambiadores/tipos/aeroenfriadores.jpg' %}" class="d-block w-100" alt="Aeroenfriadores"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Aeroenfriadores</h5>
                </div>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="{% static 'img/intercambiadores/tipos/tubos_aletados.jpg' %}" class="d-block w-100" alt="Tubos Aletados"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Tubos Aletados</h5>
                </div>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="{% static 'img/intercambiadores/tipos/condensadores_evaporativos.jpg' %}" class="d-block w-100" alt="Condensadores Evaporativos"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Condensadores Evaporativos</h5>
                </div>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="{% static 'img/intercambiadores/tipos/capa_fina.jpg' %}" class="d-block w-100" alt="Capa Fina"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-center">Capa Fina</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div> -->
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="row row-cols-md-2 row-cols-lg-3 g-4">
            <a href="{% url 'consulta_tubo_carcasa' %}" class="sin_decoracion">
                <div class="col">
                  <div class="card">
                    <img style="max-height: 20vh;" src="{% static 'img/intercambiadores/tipos/tubo_carcasa.jpg' %}" class="card-img-top" alt="Intercambiador tubo carcasa">
                    <div class="card-body">
                      <h5 class="card-title text-center">Intercambiadores Tubo/Carcasa</h5>
                    </div>
                  </div>
                </div>
            </a>

            <a href="#" class="sin_decoracion">
                <div class="col">
                    <div class="card">
                    <img style="max-height: 20vh;" src="{% static 'img/intercambiadores/tipos/doble_tubo.jpg' %}" class="card-img-top" alt="Intercambiador doble tubo">
                    <div class="card-body">
                        <h5 class="card-title text-center">Intercambiadores de Doble Tubo</h5>
                    </div>
                    </div>
                </div>
            </a>

            <a href="#" class="sin_decoracion">
                <div class="col">
                    <div class="card">
                    <img style="max-height: 20vh;" src="{% static 'img/intercambiadores/tipos/placas.jpg' %}" class="card-img-top" alt="Intercambiador placas">
                    <div class="card-body">
                        <h5 class="card-title text-center">Intercambiadores de Placas</h5>
                    </div>
                    </div>
                </div>
            </a>

            <a href="#" class="sin_decoracion">
                <div class="col">
                    <div class="card">
                    <img style="max-height: 20vh;" src="{% static 'img/intercambiadores/tipos/aeroenfriadores.jpg' %}" class="card-img-top" alt="Intercambiador aeroenfriadores">
                    <div class="card-body">
                        <h5 class="card-title text-center">Intercambiadores Aeroenfriadores</h5>
                    </div>
                    </div>
                </div>
            </a>

            <a href="#" class="sin_decoracion">
                <div class="col">
                    <div class="card">
                    <img style="max-height: 20vh;" src="{% static 'img/intercambiadores/tipos/tubos_aletados.jpg' %}" class="card-img-top" alt="Intercambiador tubos aletados">
                    <div class="card-body">
                        <h5 class="card-title text-center">Intercambiadores Tubos Aletados</h5>
                    </div>
                    </div>
                </div>
            </a>

            <a href="#" class="sin_decoracion">
                <div class="col">
                    <div class="card">
                    <img style="max-height: 20vh;" src="{% static 'img/intercambiadores/tipos/condensadores_evaporativos.jpg' %}" class="card-img-top" alt="Intercambiador Condensadores Evaporativos">
                    <div class="card-body">
                        <h5 class="card-title text-center">Condensadores Evaporativos</h5>
                    </div>
                    </div>
                </div>
            </a>

            <div class="col"></div>

            <a href="#" class="sin_decoracion">
                <div class="col">
                    <div class="card">
                    <img style="max-height: 20vh;" src="{% static 'img/intercambiadores/tipos/capa_fina.jpg' %}" class="card-img-top" alt="Intercambiador Capa Fina">
                    <div class="card-body">
                        <h5 class="card-title text-center">Intercambiadores de Capa Fina</h5>
                    </div>
                    </div>
                </div>
            </a>

            <div class="col"></div>
        </div>
    </div>
</div>
{% endblock %}