{% extends 'base.html' %}
{% block contenido %}
<h2 class="text-center">Intercambiadores</h2>
<a class="btn btn-success" href="{% url 'formulario_simulacion_intercambiadores' %}">Método Efectividad-NTU</a>
<button class="btn btn-danger" disabled>Método LMTD</button>

<table class="table table-bordered table-hover mt-2">
    <thead class="table-danger">
        <th>Equipo</th>
        <th>Fecha Simulación</th>
        <th>Datos de Entrada</th>
        <th>Datos de Salida</th>
        <th>Opciones</th>
    </thead>

    <tbody><!-- Aquí habría que hacer una paginación -->
        {% for simulacion in simulaciones %}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% empty %}
        <td colspan="5">No se han realizado simulaciones con Intercambiadores.</td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}