<!-- Resultados termodinámicos -->
{% for corriente in resultados.resultados.corrientes_carcasa %}
<td id="entalpia-corriente-{{corriente.pk}}" hx-swap-oob="true">
    {{corriente.h}}
    <input type="hidden" name="corriente-{{corriente.pk}}-entalpia" value="{{corriente.h}}">
</td>

<td id="densidad-corriente-{{corriente.pk}}" hx-swap-oob="true">
    {{corriente.d}}
    <input type="hidden" name="corriente-{{corriente.pk}}-densidad" value="{{corriente.d}}">
</td>

<td id="fase-corriente-{{corriente.pk}}" hx-swap-oob="true">
    {{corriente.f}}
    <input type="hidden" name="corriente-{{corriente.pk}}-fase" value="{{corriente.f}}">
</td>
{% endfor %}

{% for corriente in resultados.resultados.corrientes_tubos %}
<td id="entalpia-corriente-{{corriente.pk}}" hx-swap-oob="true">
    {{corriente.h}}
    <input type="hidden" name="corriente-{{corriente.pk}}-entalpia" value="{{corriente.h}}">
</td>

<td id="densidad-corriente-{{corriente.pk}}" hx-swap-oob="true">
    {{corriente.d}}
    <input type="hidden" name="corriente-{{corriente.pk}}-densidad" value="{{corriente.d}}">
</td>

<td id="fase-corriente-{{corriente.pk}}" hx-swap-oob="true">
    {{corriente.f}}
    <input type="hidden" name="corriente-{{corriente.pk}}-fase" value="{{corriente.f}}">
</td>
{% endfor %}

<div id="resultados" hx-swap-oob="true">
    {{resultados.corrientes_carcasa}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="2" class="text-center table-dark">Resultados de la Evaluación</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <th class="table-dark w-50">Eficiencia (%)</th>
                <td class="w-50">{{resultados.resultados.eficiencia}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">Calor Carcasa ()</th>
                <td class="w-50">{{resultados.resultados.calor_carcasa}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">Calor Tubo ()</th>
                <td class="w-50">{{resultados.resultados.calor_tubo}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">Coeficiente Global de Transferencia U ()</th>
                <td class="w-50">{{resultados.resultados.u}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">Delta T Tubos ()</th>
                <td class="w-50">{{resultados.resultados.delta_t_tubos}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">Delta T Carcasa ()</th>
                <td class="w-50">{{resultados.resultados.delta_t_carcasa}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">MTD ()</th>
                <td class="w-50">{{resultados.resultados.mtd}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">Ensuciamiento ()</th>
                <td class="w-50">{{resultados.resultados.ensuciamiento}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">NTU</th>
                <td class="w-50">{{resultados.resultados.ntu}}</td>
            </tr>
            <tr>
                <th class="table-dark w-50">Cmín ()</th>
                <td class="w-50">{{resultados.resultados.cmin}}</td>
            </tr>
        </tbody>
    </table>
</div>