{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contenido %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3 col-lg-2 d-inline-flex justify-content-center align-items-center"><a class="btn d-block btn-secondary" href="{% url 'consulta_bombas' %}">↶ Regresar</a></div>
        <div class="col-md-6 col-lg-8"><h3 class="text-center" style="color: #e31e24;">Nueva Bomba Centrífuga</h3></div>
        <div class="col-3"></div>
    </div>

    <hr>

    {% if errores %}
    <div>
        {% for error in errores %}
        <ul>
            <li class="text-center" style="color: #e31e24;">{{error}}</li>
        </ul>
        {%endfor%}
    </div>

    <hr>
    {% endif %}

    <h4 class="text-center" style="color: #e31e24;">Identificación de la Bomba</h2>

    <div class="row">
        <div class="col-3">
            <label for="tag">{{form_bomba.tag.label_tag}}</label>
            {% render_field form_bomba.tag class="form-control" %}
        </div>
        <div class="col-3">
            <label for="complejo">{{form_bomba.complejo.label_tag}}</label>
            {% render_field form_bomba.complejo class="form-control" %}
        </div>
        <div class="col-3">
            <label for="planta">{{form_bomba.planta.label_tag}}</label>
            {% render_field form_bomba.planta class="form-control" %}
        </div>
        <div class="col-3">
            <label for="fabricante">{{form_bomba.fabricante.label_tag}}</label>
            {% render_field form_bomba.fabricante class="form-control" %}
        </div>

        <div class="col-3">
            <label for="modelo">{{form_bomba.modelo.label_tag}}</label>
            {% render_field form_bomba.modelo class="form-control" %}
        </div>
        <div class="col-3">
            <label for="tipo_bomba">{{form_bomba.tipo_bomba.label_tag}}</label>
            {% render_field form_bomba.tipo_bomba class="form-control" %}
        </div>
        <div class="col-6">
            <label for="grafica">{{form_bomba.grafica.label_tag}}</label>
            {% render_field form_bomba.grafica class="form-control" %}
        </div>
        <div class="col-12">
            <label for="descripcion">{{form_bomba.descripcion.label_tag}}</label>
            {% render_field form_bomba.descripcion class="form-control" %}
        </div>
    </div>

    <hr>

    <h4 class="text-center" style="color: #e31e24;">Identificación de la Bomba</h2>

    <div class="row">
        <div class="col-3">
            <label for="velocidad">{{form_especificaciones.velocidad.label_tag}}</label>
            <div class="input-group mb-3">
                {% render_field form_especificaciones.velocidad class="form-control" %}
                {% render_field form_especificaciones.velocidad_unidad class="form-select" %}
            </div>
        </div>

        <div class="col-3">
            <label for="velocidad">{{form_especificaciones.velocidad.label_tag}}</label>
            <div class="input-group mb-3">
                {% render_field form_especificaciones.velocidad class="form-control" %}
                {% render_field form_especificaciones.velocidad_unidad class="form-select" %}
            </div>
        </div>

        <div class="col-3">

        </div>

        <div class="col-3">

        </div>

        <div class="col-3">

        </div>

        <div class="col-3">

        </div>

        <div class="col-3">

        </div>

        <div class="col-3">

        </div>

        <div class="col-3">
                
        </div>
    </div>
    
    <hr>
</form>
{% endblock %}

{% block extra_javascript %}

{% endblock %}