{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contenido %}
<form method="post">
    {{forms_instalacion.management_form}}   
    {{forms_tuberia_descarga.management_form}}   
    {{forms_tuberia_succion.management_form}}   
    {% for field in forms_instalacion.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3 col-lg-2 d-inline-flex justify-content-center align-items-center"><a class="btn d-block btn-secondary" href="{% url 'consulta_bombas' %}">↶ Regresar</a></div>
        <div class="col-md-6 col-lg-8"><h3 class="text-center" style="color: #e31e24;">Edición de Detalles de Instalación de la Bomba {{bomba.tag}}</h3></div>
        <div class="col-3"></div>
    </div>

    <hr>

    <div class="row">
        {% for form_instalacion in forms_instalacion.forms %}
        {{ form_instalacion.id }}
        <div class="col-6  {% if forloop.counter == 1 %}border-end border-dark{% endif %}">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">{% if forloop.counter == 1 %} Succión {% else %} Descarga {% endif %}</h3>
                    <hr>
                </div>
                <div class="col-12">
                    <label for="id_elevacion">{{form_instalacion.elevacion.label_tag}}</label>
                    <div class="input-group mb-1">
                        {% render_field form_instalacion.elevacion min="0.0001" class="form-control" %}
                        {% render_field form_instalacion.elevacion_unidad class="form-select" %}
                    </div>
                    <small>{{form_instalacion.elevacion.errors}}</small>
                </div>

                <div class="col-12">
                    <hr>
                    <h3 class="text-center">Codos</h3>
                </div>
                
                <div class="col-6">
                    <label for="id_numero_codos_90">{{form_instalacion.numero_codos_90.label_tag}}</label>
                    {% render_field form_instalacion.numero_codos_90 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_codos_90.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_codos_90_rl">{{form_instalacion.numero_codos_90_rl.label_tag}}</label>
                    {% render_field form_instalacion.numero_codos_90_rl min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_codos_90_rl.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_codos_90_ros">{{form_instalacion.numero_codos_90_ros.label_tag}}</label>
                    {% render_field form_instalacion.numero_codos_90_ros min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_codos_90_ros.errors}}</small>
                </div>

                <div class="col-6">
                    <label for="id_numero_codos_45">{{form_instalacion.numero_codos_45.label_tag}}</label>
                    {% render_field form_instalacion.numero_codos_45 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_codos_45.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_codos_45_ros">{{form_instalacion.numero_codos_45_ros.label_tag}}</label>
                    {% render_field form_instalacion.numero_codos_45_ros min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_codos_45_ros.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_codos_180">{{form_instalacion.numero_codos_180.label_tag}}</label>
                    {% render_field form_instalacion.numero_codos_180 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_codos_180.errors}}</small>
                </div>

                <div class="col-12">
                    <hr>
                    <h3 class="text-center">Válvulas de Compuerta</h3>
                </div>
                
                <div class="col-6">
                    <label for="id_numero_valvulas_compuerta">{{form_instalacion.numero_valvulas_compuerta.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvulas_compuerta min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvulas_compuerta.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_valvulas_compuerta_abierta_3_4">{{form_instalacion.numero_valvulas_compuerta_abierta_3_4.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvulas_compuerta_abierta_3_4 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvulas_compuerta_abierta_3_4.errors}}</small>
                </div>

                <div class="col-6">
                    <label for="id_numero_valvulas_compuerta_abierta_1_2">{{form_instalacion.numero_valvulas_compuerta_abierta_1_2.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvulas_compuerta_abierta_1_2 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvulas_compuerta_abierta_1_2.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_valvulas_compuerta_abierta_1_4">{{form_instalacion.numero_valvulas_compuerta_abierta_1_4.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvulas_compuerta_abierta_1_4 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvulas_compuerta_abierta_1_4.errors}}</small>
                </div>

                <div class="col-12">
                    <hr>
                    <h3 class="text-center">Válvulas Mariposa</h3>
                </div>

                <div class="col-6">
                    <label for="id_numero_valvulas_mariposa_2_8">{{form_instalacion.numero_valvulas_mariposa_2_8.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvulas_mariposa_2_8 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvulas_mariposa_2_8.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_valvulas_mariposa_10_14">{{form_instalacion.numero_valvulas_mariposa_10_14.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvulas_mariposa_10_14 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvulas_mariposa_10_14.errors}}</small>
                </div>

                <div class="col-12">
                    <label for="id_numero_valvulas_mariposa_16_24">{{form_instalacion.numero_valvulas_mariposa_16_24.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvulas_mariposa_16_24 min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvulas_mariposa_16_24.errors}}</small>
                </div>

                <div class="col-12">
                    <hr>
                    <h3 class="text-center">Válvulas de Check</h3>
                </div>

                <div class="col-6">
                    <label for="id_numero_valvula_giratoria">{{form_instalacion.numero_valvula_giratoria.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvula_giratoria min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvula_giratoria.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_valvula_bola">{{form_instalacion.numero_valvula_bola.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvula_bola min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvula_bola.errors}}</small>
                </div>

                <div class="col-6">
                    <label for="id_numero_valvula_vastago">{{form_instalacion.numero_valvula_vastago.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvula_vastago min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvula_vastago.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_valvula_bisagra">{{form_instalacion.numero_valvula_bisagra.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvula_bisagra min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvula_bisagra.errors}}</small>
                </div>

                <div class="col-12">
                    <hr>
                    <h3 class="text-center">Accesorios</h3>
                </div>

                <div class="col-6">
                    <label for="id_numero_valvula_globo">{{form_instalacion.numero_valvula_globo.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvula_globo min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvula_globo.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_valvula_angulo">{{form_instalacion.numero_valvula_angulo.label_tag}}</label>
                    {% render_field form_instalacion.numero_valvula_angulo min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_valvula_angulo.errors}}</small>
                </div>

                <div class="col-12">
                    <hr>
                    <h3 class="text-center">Otros Parámetros</h3>
                </div>

                <div class="col-6">
                    <label for="id_numero_contracciones_linea">{{form_instalacion.numero_contracciones_linea.label_tag}}</label>
                    {% render_field form_instalacion.numero_contracciones_linea min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_contracciones_linea.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_numero_expansiones_linea">{{form_instalacion.numero_expansiones_linea.label_tag}}</label>
                    {% render_field form_instalacion.numero_expansiones_linea min="0" class="form-control" %}
                    <small>{{form_instalacion.numero_expansiones_linea.errors}}</small>
                </div>

                <div class="col-6">
                    <label for="id_conexiones_t_directo">{{form_instalacion.conexiones_t_directo.label_tag}}</label>
                    {% render_field form_instalacion.conexiones_t_directo min="0" class="form-control" %}
                    <small>{{form_instalacion.conexiones_t_directo.errors}}</small>
                </div>
                <div class="col-6">
                    <label for="id_conexiones_t_ramal">{{form_instalacion.conexiones_t_ramal.label_tag}}</label>
                    {% render_field form_instalacion.conexiones_t_ramal min="0" class="form-control" %}
                    <small>{{form_instalacion.conexiones_t_ramal.errors}}</small>
                </div>

                <div class="col-12" id="{% if forloop.counter == 1 %}forms-succion{% else %}forms-descarga{% endif %}">
                    <hr>
                    <h3 class="text-center">Tuberías</h3>
                    {% if forloop.counter == 1 %}
                    {% for form in forms_tuberia_succion %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    <div class="row succion-form">
                        <div class="col-3">
                            <label>{{form.longitud_tuberia.label_tag}}</label>
                            <div class="input-group mb-1">
                                {% render_field form.longitud_tuberia min="0.0001" class="form-control" %}
                                {% render_field form.longitud_tuberia_unidad class="form-select" style="width: 30% !important;" %}
                            </div>
                            <small>{{form.longitud_tuberia.errors}}</small>
                        </div>
                        <div class="col-3">
                            <label>{{form.diametro_tuberia.label_tag}}</label>
                            <div class="input-group mb-1">
                                {% render_field form.diametro_tuberia min="0.0001" class="form-control" %}
                                {% render_field form.diametro_tuberia_unidad class="form-select" style="width: 30% !important;" %}
                            </div>
                            <small>{{form.diametro_tuberia.errors}}</small>
                        </div>
                        <div class="col-2">
                            <label># Tubos</label>
                            {% render_field form.numero_tubos min="0" class="form-control" %}
                            <small>{{form.numero_tubos.errors}}</small>
                        </div>
                        <div class="col-3">
                            <label>{{form.material_tuberia.label_tag}}</label>
                            {% render_field form.material_tuberia min="0" class="form-control" %}
                            <small>{{form.material_tuberia.errors}}</small>
                        </div>
                        <div class="col-1 fs-5 d-flex align-items-end">
                            {% if forloop.last %}
                                <a class="w-100 h-75 d-flex justify-content-center align-items-center btn btn-success anadir">+</a>
                            {% else %}
                                <a class="w-100 h-75 d-flex justify-content-center align-items-center btn btn-danger eliminar">-</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        {% for form in forms_tuberia_descarga %}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        <div class="row p-0 descarga-form">
                            <div class="col-3">
                                <label>{{form.longitud_tuberia.label_tag}}</label>
                                <div class="input-group mb-1">
                                    {% render_field form.longitud_tuberia min="0.0001" class="form-control" %}
                                    {% render_field form.longitud_tuberia_unidad class="form-select" style="width: 30% !important;" %}
                                </div>
                                <small>{{form.longitud_tuberia.errors}}</small>
                            </div>
                            <div class="col-3">
                                <label>{{form.diametro_tuberia.label_tag}}</label>
                                <div class="input-group mb-1">
                                    {% render_field form.diametro_tuberia min="0.0001" class="form-control" %}
                                    {% render_field form.diametro_tuberia_unidad class="form-select" style="width: 30% !important;" %}
                                </div>
                                <small>{{form.diametro_tuberia.errors}}</small>
                            </div>
                            <div class="col-2">
                                <label># Tubos</label>
                                {% render_field form.numero_tubos min="0" class="form-control" %}
                                <small>{{form.numero_tubos.errors}}</small>
                            </div>
                            <div class="col-3">
                                <label>{{form.material_tuberia.label_tag}}</label>
                                {% render_field form.material_tuberia min="0" class="form-control" %}
                                <small>{{form.material_tuberia.errors}}</small>
                            </div>
                            <div class="col-1 fs-5 d-flex align-items-end">
                                {% if forloop.last %}
                                <a class="w-100 h-75 d-flex justify-content-center align-items-center btn btn-success anadir">+</a>
                                {% else %}
                                <a class="w-100 h-75 d-flex justify-content-center align-items-center btn btn-danger eliminar">-</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-12 mt-3">
        <div class="d-flex w-100 justify-content-center mb-3">
            <button type="submit" class="btn btn-danger">Enviar Formulario</button>
        </div>
    </div>
</form>
{% endblock %}

{% block extra_javascript %}
<script src="/static/js/auxiliares/bombas/instalacion.js"></script>
{% endblock %}