{% load l10n %}

<input value="{{presion_vapor|unlocalize}}" hx-swap-oob="true" type="number" id="id_presion_vapor" name="presion_vapor" disabled class="form-control" step="any">
<input value="{{viscosidad|unlocalize}}" hx-swap-oob="true" type="number" id="id_viscosidad" name="viscosidad" disabled class="form-control" step="any">
<input value="{{densidad|unlocalize}}" hx-swap-oob="true" type="number" id="id_densidad" name="densidad" disabled class="form-control" step="any">


<small class="text-danger" id="aviso" hx-swap-oob="true">{% if bandera %}*Los datos fueron calculados asumiendo el fluido como líquido saturado ya que la temp. de operación y presión de succión no corresponden a la fase líquido.{% endif %}</small>