<div class="modal fade" id="respuestas{{encuesta.pk}}" tabindex="-1" aria-labelledby="respuestas{{encuesta.pk}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content text-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="respuestas{{encuesta.pk}}Label">Accesorios del Tramo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start small p-3">
          {% for respuesta in encuesta.respuestas.all %}
          <h3>{{respuesta.pregunta.nombre|default_if_none:"— NO RESPONDIÓ —"}}</h3>
          <p>{{respuesta.respuesta|default_if_none:"— NO RESPONDIÓ —"}}</p>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
</div>