{% load static %}
{% load l10n %}

<div class="modal fade" id="resultados_{{evaluacion.pk}}" tabindex="-1" aria-labelledby="resultados_{{evaluacion.pk}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content text-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="resultados_{{evaluacion.pk}}Label">Resultados de la Evaluación "{{evaluacion.nombre}}" - 
            {{evaluacion.fecha}} ({{intercambiador.intercambiador.tag}})
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        {{esp}}
        
        <div class="modal-body text-start small pb-0">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <table class="table table-light text-center table-bordered small">
                        <tbody id="body">
                          <tr>
                            <th class="table-success" colspan="6">Datos de Entrada</th>
                          </tr>
                          <tr>
                            <th class="table-dark" colspan="2"></th>
                            <th class="table-dark small"colspan="2">Carcasa <br>
                              {{fluido_carcasa}}
                            </th>
                            <th class="table-dark small"colspan="2">Tubo <br>
                              {{fluido_tubo}}
                            </th>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;" colspan="2" rowspan="2">Fluido</th>
                            <th class="table-dark small">Cp Vapor ({{evaluacion.cp_unidad}})</th>
                            <th class="table-dark small">Cp Líq. ({{evaluacion.cp_unidad}})</th>
                            <th class="table-dark small">Cp Vapor ({{evaluacion.cp_unidad}})</th>
                            <th class="table-dark small">Cp Líq. ({{evaluacion.cp_unidad}})</th>
                          </tr>
                          <tr>
                            <td>{% if evaluacion.cp_carcasa_gas %}{{evaluacion.cp_carcasa_gas}}{%else%}-{%endif%}</td>
                            <td>{% if evaluacion.cp_carcasa_liquido %}{{evaluacion.cp_carcasa_liquido}}{%else%}-{%endif%}</td>
                            <td>{% if evaluacion.cp_tubo_gas %}{{evaluacion.cp_tubo_gas}}{%else%}-{%endif%}</td>
                            <td>{% if evaluacion.cp_tubo_liquido %}{{evaluacion.cp_tubo_liquido}}{%else%}-{%endif%}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;" colspan="2" rowspan="4">Temperatura ({{evaluacion.temperaturas_unidad.simbolo}})</th>
                            <th class="table-dark small">IN</th>
                            <th class="table-dark small">OUT</th>
                            <th class="table-dark small">IN</th>
                            <th class="table-dark small">OUT</th>
                          </tr>
                          <tr>
                            <td>{{evaluacion.temp_ex_entrada}}</td>
                            <td>{{evaluacion.temp_ex_salida}}</td>
                            <td>{{evaluacion.temp_in_entrada}}</td>
                            <td>{{evaluacion.temp_in_salida}}</td>
                          </tr>
                          <tr>
                            <th colspan="4" class="table-dark small">Promedios</th>
                          </tr>
                          <tr style="vertical-align: middle;">
                            <td colspan="2">{{evaluacion.promedio_carcasa}}</td>
                            <td colspan="2">{{evaluacion.promedio_tubo}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;" colspan="2" rowspan="2">Flujo Másico ({{evaluacion.unidad_flujo}})</th>
                            <th class="table-dark small" style="vertical-align: middle;" colspan="2">Externo</th>
                            <th class="table-dark small" style="vertical-align: middle;" colspan="2">Interno</th>
                          </tr>
                          <tr style="vertical-align: middle;">
                            <td colspan="2">{{evaluacion.flujo_masico_ex}}</td>
                            <td colspan="2">{{evaluacion.flujo_masico_in}}</td>
                          </tr>
                          <tr>

                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 col-xs-12 d-flex justify-content-center align-items-center">
                  <canvas hidden id="grafica_{{evaluacion.pk}}" class="border border-dark" style="min-width: 100%;" class="bg-white m-3"></canvas>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-6 col-xs-12 small d-flex justify-content-center">
                      <table class="table table-light text-center table-bordered">
                        <tbody id="body">
                          <tr>
                            <th class="table-info" colspan="4">Resultados de la Evaluación</th>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">LMTD ({{evaluacion.temperaturas_unidad}})</th>
                            <td>{{evaluacion.lmtd}}</td>
                            <th class="table-dark" style="vertical-align: middle;">Área Transf. ({{intercambiador.area_unidad}})</th>
                            <td>{{evaluacion.area_transferencia}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">% Eficiencia</th>
                            <td>{{evaluacion.eficiencia}}</td>
                            <th class="table-dark" style="vertical-align: middle;">% Efectividad</th>
                            <td>{{evaluacion.efectividad}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">U ({{intercambiador.u_unidad}})</th>
                            <td>{{evaluacion.u}}</td>
                            <th class="table-dark" style="vertical-align: middle;">Q ({{intercambiador.q_unidad}})</th>
                            <td>{{evaluacion.q}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">NTU</th>
                            <td>{{evaluacion.ntu}}</td>
                            <th class="table-dark" style="vertical-align: middle;">Ensuciamiento</th>
                            <td>{{evaluacion.ensuciamiento}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">C. Presión Tubo ({{evaluacion.unidad_presion}})</th>
                            <td>{{evaluacion.caida_presion_in}}</td>
                            <th class="table-dark" style="vertical-align: middle;">C. Presión Carcasa ({{evaluacion.unidad_presion}})</th>
                            <td>{{evaluacion.caida_presion_ex}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">Núm. Tubos</th>
                            <td colspan="3">{{evaluacion.numero_tubos}}</td>
                          </tr>
                        </tbody>
                      </table>                    
                    </div>
                    <div class="col-lg-6 col-xs-12 small d-flex justify-content-center">
                      <table class="table table-light text-center table-bordered">
                        <tbody id="body">
                          <tr>
                            <th class="table-warning" colspan="4">Datos de Diseño</th>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">LMTD ({{intercambiador.condicion_tubo.temperaturas_unidad}})</th>
                            <td>{{diseno.lmtd}}</td>
                            <th class="table-dark" style="vertical-align: middle;">Área Transf. ({{intercambiador.area_unidad}})</th>
                            <td>{{intercambiador.area}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">% Eficiencia</th>
                            <td>{{diseno.eficiencia}}</td>
                            <th class="table-dark" style="vertical-align: middle;">% Efectividad</th>
                            <td>{{diseno.efectividad}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">U ({{intercambiador.u_unidad}})</th>
                            <td>{{intercambiador.u|floatformat:4}}</td>
                            <th class="table-dark" style="vertical-align: middle;">Núm. Tubos</th>
                            <td>{{intercambiador.numero_tubos}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">NTU</th>
                            <td>{{diseno.ntu}}</td>                            
                            <th class="table-dark" style="vertical-align: middle;">Ensuciamiento</th>
                            <td>{{diseno.factor_ensuciamiento}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">Q ({{intercambiador.q_unidad}})</th>
                            <td>{{intercambiador.q}}</td>
                            <th class="table-dark" style="vertical-align: middle;">C. Presión Máx. ({{condicion_tubo.unidad_presion}})</th>
                            <td>{{condicion_tubo.caida_presion_max}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">Cp Líq. Tubo ({{condicion_tubo.unidad_cp}})</th>
                            <td>{% if condicion_tubo.fluido_cp_liquido %}{{condicion_tubo.fluido_cp_liquido}}{%else%}-{%endif%}</td>
                            <th class="table-dark" style="vertical-align: middle;">Cp Gas Tubo ({{condicion_carcasa.unidad_cp}})</th>
                            <td>{% if condicion_tubo.fluido_cp_gas %}{{condicion_tubo.fluido_cp_gas}}{%else%}-{%endif%}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;">Cp Líq. Carcasa ({{condicion_tubo.unidad_cp}})</th>
                            <td>{% if condicion_carcasa.fluido_cp_liquido %}{{condicion_carcasa.fluido_cp_liquido}}{%else%}-{%endif%}</td>
                            <th class="table-dark" style="vertical-align: middle;">Cp Gas Carcasa ({{condicion_carcasa.unidad_cp}})</th>
                            <td>{% if condicion_carcasa.fluido_cp_gas %}{{condicion_carcasa.fluido_cp_gas}}{%else%}-{%endif%}</td>
                          </tr>
                        </tbody>
                      </table>                    
                    </div>
                  </div>
                </div>
                <div class="w-100 text-end">
                  <b>Evaluación Realizada el {{evaluacion.fecha}} por el usuario '{{evaluacion.creado_por.get_full_name}}'.</b>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <a href="reporte/detalle/{{evaluacion.pk}}/?tipo=pdf" class="btn btn-danger d-inline-flex" style="color: black;"><img src="{% static 'img/iconos/pdf.png' %}" width="20px" alt="Ícono Reporte PDF">&nbsp;Guardar PDF</a>
          {% if request.user.is_superuser %}
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="evaluacion" value="{{evaluacion.pk}}" onclick="return confirm('¿De verdad desea eliminar esta evaluación?');">Eliminar Evaluación</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<script>
  canvas = document.getElementById('grafica_{{evaluacion.pk}}').getContext('2d');
  datosGrafica = undefined;

  $('#grafica_{{evaluacion.pk}}').removeAttr('hidden');

  chart = new Chart(canvas, {
          type: 'line',
          data: {
              datasets: [
                  {
                      label: "Carcasa",
                      data: {
                        Inicial: Number('{{evaluacion.temp_ex_entrada|unlocalize}}'),
                        Final: Number('{{evaluacion.temp_ex_salida|unlocalize}}')
                      },
                      backgroundColor: ['#E31E24'],
                      borderColor: ['#E31E24']
                  },
                  {
                      label: "Tubo",
                      data: {
                        Inicial: Number('{{evaluacion.temp_in_entrada|unlocalize}}'),
                        Final: Number('{{evaluacion.temp_in_salida|unlocalize}}')
                      },
                      backgroundColor: ['#555'],
                      borderColor: ['#555']
                  }
              ]
          },
          options: {
              responsive: true,
              plugins: {
                  title: {
                      display: true,
                      text: 'Variación de las Temperaturas',
                      position: 'top'
                  },
                  legend: {
                      display: true
                  }
              }        
          }
  });
</script>