{% load static %}
{% load l10n %}

<div class="modal fade" id="resultados_{{evaluacion.pk}}" tabindex="-1" aria-labelledby="resultados_{{evaluacion.pk}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content text-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="resultados_{{evaluacion.pk}}Label">Resultados de la Evaluación #{{evaluacion.pk}} (180-C)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        {{esp}}
        {% with diseno=intercambiador.calcular_diseno %}
        <div class="modal-body text-start small">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <table class="table table-light text-center table-bordered small">
                        <tbody id="body">
                          <tr>
                            <th class="table-success" colspan="6">Datos de Entrada</th>
                          </tr>
                          <tr>
                            <th class="table-dark" colspan="2"></th>
                            <th class="table-dark small"colspan="2">Carcasa</th>
                            <th class="table-dark small"colspan="2">Tubo</th>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;" colspan="2" rowspan="2">Fluido</th>
                            <th class="table-dark small">Nombre</th>
                            <th class="table-dark small">Cp</th>
                            <th class="table-dark small">Nombre</th>
                            <th class="table-dark small">Cp</th>
                          </tr>
                          <tr>
                            <td>{{intercambiador.fluido_carcasa}}</td>
                            <td>{{evaluacion.cp_carcasa}}</td>
                            <td>{{intercambiador.fluido_tubo}}</td>
                            <td>{{evaluacion.cp_tubo}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;" colspan="2" rowspan="4">Temperatura ({{evaluacion.temperaturas_unidad.simbolo}})</th>
                            <th class="table-dark small">IN</th>
                            <th class="table-dark small">OUT</th>
                            <th class="table-dark small">IN</th>
                            <th class="table-dark small">OUT</th>
                          </tr>
                          <tr>
                            <td>{{evaluacion.temp_ex_entrada}}</td>
                            <td>{{evaluacion.temp_ex_salida}}</td>
                            <td>{{evaluacion.temp_in_entrada}}</td>
                            <td>{{evaluacion.temp_in_salida}}</td>
                          </tr>
                          <tr>
                            <th colspan="4" class="table-dark small">Promedios</th>
                          </tr>
                          <tr style="vertical-align: middle;">
                            <td colspan="2">{{evaluacion.promedio_carcasa}}</td>
                            <td colspan="2">{{evaluacion.promedio_tubo}}</td>
                          </tr>
                          <tr>
                            <th class="table-dark" style="vertical-align: middle;" colspan="2" rowspan="2">Flujo Másico (Kg/h)</th>
                            <th class="table-dark small" style="vertical-align: middle;" colspan="2">Externo</th>
                            <th class="table-dark small" style="vertical-align: middle;" colspan="2">Interno</th>
                          </tr>
                          <tr style="vertical-align: middle;">
                            <td colspan="2">{{evaluacion.flujo_masico_ex}}</td>
                            <td colspan="2">{{evaluacion.flujo_masico_in}}</td>
                          </tr>
                          <tr>

                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 col-xs-12 d-flex justify-content-center align-items-center">
                  <canvas hidden id="grafica_{{evaluacion.pk}}" class="border border-dark" style="min-width: 100%;" class="bg-white m-3"></canvas>
                </div>
                <div class="col-lg-6 col-xs-12 small">
                  <table class="table table-light text-center table-bordered">
                    <tbody id="body">
                      <tr>
                        <th class="table-danger" colspan="4">Resultados de la Evaluación</th>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">LMTD</th>
                        <td>{{evaluacion.lmtd}}</td>
                        <th class="table-dark" style="vertical-align: middle;">Área Transf. (m²)</th>
                        <td>{{evaluacion.area_transferencia}}</td>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">NTU</th>
                        <td>{{evaluacion.ntu}}</td>
                        <th class="table-dark" style="vertical-align: middle;">% Efectividad</th>
                        <td>{{evaluacion.efectividad}}</td>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">U (W/m²K)</th>
                        <td>{{evaluacion.u}}</td>
                        <th class="table-dark" style="vertical-align: middle;">UA (W/K)</th>
                        <td>{{evaluacion.ua}}</td>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">% Eficiencia</th>
                        <td>{{evaluacion.eficiencia}}</td>
                        <th class="table-dark" style="vertical-align: middle;">Ensuciamiento</th>
                        <td>{{evaluacion.ensuciamiento}}</td>
                      </tr>
                    </tbody>
                  </table>                    
                </div>
                <div class="col-lg-6 col-xs-12 small">
                  <table class="table table-light text-center table-bordered">
                    <tbody id="body">
                      <tr>
                        <th class="table-warning" colspan="4">Datos de Diseño</th>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">LMTD</th>
                        <td>{{diseno.lmtd}}</td>
                        <th class="table-dark" style="vertical-align: middle;">Área Transf. (m²)</th>
                        <td>{{intercambiador.area}}</td>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">NTU</th>
                        <td>{{diseno.ntu}}</td>
                        <th class="table-dark" style="vertical-align: middle;">% Efectividad</th>
                        <td>{{diseno.efectividad}}</td>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">U (W/m²K)</th>
                        <td>{{diseno.u}}</td>
                        <th class="table-dark" style="vertical-align: middle;">UA (W/K)</th>
                        <td>{{diseno.ua}}</td>
                      </tr>
                      <tr>
                        <th class="table-dark" style="vertical-align: middle;">% Eficiencia</th>
                        <td>{{diseno.eficiencia}}</td>
                        <th class="table-dark" style="vertical-align: middle;">Ensuciamiento</th>
                        <td>{{diseno.factor_ensuciamiento}}</td>
                      </tr>
                    </tbody>
                  </table>                    
                </div>
                
            </div>
        </div>
        {% endwith %}

        <div class="modal-footer">
          <button class="btn btn-danger d-inline-flex" style="color: black;"><img src="{% static 'img/iconos/pdf.png' %}" width="20px" alt="Ícono Reporte PDF">&nbsp;Guardar PDF</button>
          <button class="btn btn-success d-inline-flex" style="color: black;"><img src="{% static 'img/iconos/xlsx.png' %}" width="20px" alt="Ícono Reporte XLSX">&nbsp;Guardar XLSX</button>
        </div>
      </div>
    </div>
</div>

<script>
  canvas = document.getElementById('grafica_{{evaluacion.pk}}').getContext('2d');
  datosGrafica = undefined;

  // $.ajax({
  //     url: `datos_grafica.php?id=<?php echo $_GET['id_pozo']; ?>&fecha_max=${$('#fecha_max').val()}&fecha_min=${$('#fecha_min').val()}`,
  //     method: "GET",
  //     async: false,
  //     success: function(data){
  //         console.log(data);
  //         datosGrafica = JSON.parse(data);
  //     },
  //     error: function(error){
  //         console.log(error);
  //     }
  // });

  $('#grafica_{{evaluacion.pk}}').removeAttr('hidden');
  // if(chart)
  //   chart.destroy();

  chart = new Chart(canvas, {
          type: 'line',
          data: {
              datasets: [
                  {
                      label: "Tubo Externo",
                      data: {
                        Inicial: Number('{{evaluacion.temp_ex_entrada|unlocalize}}'),
                        Final: Number('{{evaluacion.temp_ex_salida|unlocalize}}')
                      },
                      backgroundColor: ['#E31E24'],
                      borderColor: ['#E31E24']
                  },
                  {
                      label: "Tubo Interno",
                      data: {
                        Inicial: Number('{{evaluacion.temp_in_entrada|unlocalize}}'),
                        Final: Number('{{evaluacion.temp_in_salida|unlocalize}}')
                      },
                      backgroundColor: ['#555'],
                      borderColor: ['#555']
                  }
              ]
          },
          options: {
              responsive: true,
              plugins: {
                  title: {
                      display: true,
                      text: 'Variación de las Temperaturas',
                      position: 'top'
                  },
                  legend: {
                      display: true
                  }
              }        
          }
  });
</script>