{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 col-lg-2 d-inline-flex justify-content-center align-items-center"><a class="btn d-block btn-secondary" href="{% url 'consultar_usuarios' %}">↶ Regresar</a></div>
            <div class="col-md-6 col-lg-8">
                {% if edicion %}
                <h3 class="text-center" style="color: #e31e24;">Edición del Usuario {{previo.nombre}}</h3>
                {% else %}
                <h3 class="text-center" style="color: #e31e24;">Registro de Nuevo Usuario</h3>                
                {% endif %}
            </div>
            <div class="col-3"></div>
        </div>
    
        <hr>

        {% if errores %}
        <div>
            <ul>
                {% for error in errores %}
                <li class="text-danger">{{error}}</li>
                {% endfor %}
            </ul>
        </div>

        <hr>
        {% endif %}
    
        <div class="row">
            <div class="col-6">
                <label class="form-label" for="nombre">Nombre del Usuario:</label>
                <input value="{{previo.nombre}}" type="text" name="nombre" class="form-control" id="nombre" maxlength="150" required>
            </div>
            <div class="col-6">
                <label class="form-label" for="correo">Correo Electrónico:</label>
                <input value="{{previo.correo}}" type="email" name="correo" class="form-control" id="correo" maxlength="254" required>
            </div>
            {% if not edicion %}
            <div class="col-6">
                <label class="form-label" for="password">Contraseña:</label>
                <input type="password" name="password" class="form-control" id="password" maxlength="100" minlength="8" required>
            </div>
            {% else %}
            <div class="col-6 d-flex justify-content-center align-items-end">
                <div class="d-flex">
                    <input type="checkbox" name="activo" class="form-check-input" id="activo" height="200px" width="200px"
                    {% if previo.activo %}checked{%endif%}>
                    &nbsp;
                    <div><label class="form-label" for="activo">Activo</label></div>
                </div>
            </div>
            {%endif%}
            <div class="col-6 d-flex justify-content-center align-items-end">
                <div class="d-flex">
                    <input type="checkbox" name="superusuario" class="form-check-input" id="superusuario" height="200px" width="200px"
                    {% if previo.superusuario %}checked{%endif%}>
                    &nbsp;
                    <div><label class="form-label" for="superusuario">Superusuario</label></div>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    
        <hr>
        <h4 class="text-center">Permisos de acceso por Complejo y Planta</h4>
        {% for complejo in complejos %}
        <br>
        <h5>{{complejo}}</h5>
        <table class="table text-center table-hover">
            <thead>
                <tr>
                    <th scope="col">Planta</th>
                    <th scope="col">Lectura</th>
                    <th scope="col">Crear</th>
                    <th scope="col">Editar Ficha</th>
                    <th scope="col">Editar Instalación/Adicionales</th>
                    <th scope="col">Eliminar Evaluaciones</th>
                    <th scope="col">Duplicación</th>
                </tr>
            </thead>
            <tbody>
                {% for planta in complejo.plantas.all %}
                <tr>
                    <td>{{planta}}</td>
                    <td><input type="checkbox" name="planta-{{planta.pk}}" value="{{planta.pk}}" id="check-{{planta.pk}}" class="form-check-input" {% if planta.pk in previo.plantas or previo.superusuario %}checked{% endif %}></td>
                    <td><input type="checkbox" name="crear-{{planta.pk}}" value="1" class="form-check-input" id="check-crear-{{planta.pk}}" {% if planta.pk in previo.creaciones or previo.superusuario %}checked{% endif %}></td>
                    <td><input type="checkbox" name="editar-{{planta.pk}}" value="1" class="form-check-input" id="check-editar-{{planta.pk}}" {% if planta.pk in previo.ediciones or previo.superusuario %}checked{% endif %}></td>
                    <td><input type="checkbox" name="instalacion-{{planta.pk}}" value="1" class="form-check-input" id="check-instalacion-{{planta.pk}}" {% if planta.pk in previo.ediciones_instalacion or previo.superusuario %}checked{% endif %}></td>
                    <td><input type="checkbox" name="evaluaciones-{{planta.pk}}" value="1" class="form-check-input" id="check-eliminacion-{{planta.pk}}" {% if planta.pk in previo.eliminaciones_instalacion or previo.superusuario %}checked{% endif %}></td>
                    <td><input type="checkbox" name="duplicacion-{{planta.pk}}" value="1" class="form-check-input" id="check-duplicacion-{{planta.pk}}" {% if planta.pk in previo.duplicaciones or previo.superusuario %}checked{% endif %}></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% endfor %}

        <hr>
        
        <div class="d-flex justify-content-center mb-3">
            {% if edicion %}
            <button class="btn btn-danger">Editar Usuario</button>
            {% else %}
            <button class="btn btn-danger">Registrar Usuario</button>
            {% endif %}
        </div>
    </form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('table tbody tr');
        rows.forEach(row => {
            const lecturaCheckbox = row.querySelector('input[name^="planta-"]');
            const otherCheckboxes = row.querySelectorAll('input[type="checkbox"]:not([name^="planta-"])');

            lecturaCheckbox.addEventListener('change', function() {
                otherCheckboxes.forEach(checkbox => {
                    checkbox.disabled = !lecturaCheckbox.checked;
                    if (!lecturaCheckbox.checked) {
                        checkbox.checked = false;
                    }
                });
            });

            otherCheckboxes.forEach(checkbox => {
                checkbox.disabled = !lecturaCheckbox.checked;
            });
        });
    });
</script>
{% endblock %}