{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load widget_tweaks %}

{% block head %}
<script src="/static/js/htmx.min.js"></script>
<meta name="htmx-config" content='{"useTemplateFragments":"true"}'>

<style>
    small{
        color: #e31e24;
        font-weight: bold;
    }

    .indicator-style {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1000;
        margin-left: -50px;
        margin-top: -50px;
    }
</style>
{% endblock %}

{% block contenido %}
<form id="form" method="post" name="form" hx-indicator="#spinner" hx-swap="none" hx-post="/auxiliares/turbinas/evaluar/{{turbina.pk}}/resultado/">
    {% csrf_token %}
    {{formset_entrada_corriente.formset.management_form}}
    <div class="row">
        <div class="col-md-3 col-lg-2 d-inline-flex justify-content-center align-items-center"><a class="btn d-block btn-secondary" href="{% url 'consulta_turbinas_vapor' %}">↶ Regresar</a></div>
        <div class="col-md-6 col-lg-8"><h3 class="text-center" style="color: #e31e24;">Nueva Evaluación Turbina de Vapor {{turbina.tag}}</h3></div>
        <div class="col-md-3 col-lg-2"><button type="button" class="btn btn-success" style="color: black;" data-bs-toggle="modal" data-bs-target="#ficha_{{turbina.pk}}"><img width="25px" src="{% static 'img/iconos/ficha.png' %}" alt="Mostrar ficha técnica">&nbsp;Ficha Técnica</button></div>
    </div>
            
    <hr>

    <div class="row">
        <div class="col-12">
            {{form_evaluacion.nombre.label_tag}}*
            {% render_field form_evaluacion.nombre class="form-control" %}
        </div>

        <div class="col-lg-12 col-xs-12 mb-3">
            <div class="row">
                <div class="mt-3 col-6">
                    {{form_entrada_evaluacion.flujo_entrada.label_tag}}*
                    <div class="input-group">
                        {% render_field form_entrada_evaluacion.flujo_entrada class="form-control parametros-propiedades" %}
                        {% render_field form_entrada_evaluacion.flujo_entrada_unidad class="form-select parametros-propiedades" %}
                    </div>
                </div>
                <div class="mt-3 col-6">
                    {{form_entrada_evaluacion.potencia_real.label_tag}}*
                    <div class="input-group">
                        {% render_field form_entrada_evaluacion.potencia_real class="form-control" %}
                        {% render_field form_entrada_evaluacion.potencia_real_unidad class="form-select" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <table class="table table-hover">
                <tbody id="forms-corrientes">
                    <tr class="table-dark">
                        <th class="text-center">#</th>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Presión</th>
                        <th class="text-center">Temperatura</th>
                        <th class="text-center">Flujo</th>
                        <th class="text-center">Entalpía</th>
                        <th class="text-center">Fase</th>
                    </tr>

                    <tr>
                        <th class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">
                            {% render_field form_entrada_evaluacion.presion_unidad class="form-select" %}
                        </td>
                        <td class="text-center">
                            {% render_field form_entrada_evaluacion.temperatura_unidad class="form-select" %}
                        </td>
                        <td class="text-center">
                            {% render_field form_entrada_evaluacion.flujo_entrada_unidad class="form-select" disabled="disabled" %}
                        </td>
                        <td class="text-center">
                            <select name="" id="" disabled class="form-select">
                                <option value="">{{turbina.datos_corrientes.entalpia_unidad}}</option>
                            </select>
                        </td>
                        <td class="text-center">-</td>
                    </tr>

                    {% for form in formset_entrada_corriente.form_list %}
                    {% for field in form.form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    <tr class="form">
                        <td class="text-center">
                            {{form.corriente.numero_corriente}}{% if form.corriente.entrada %}*{%endif%}
                        </td>
                        <td class="text-center">
                            {{form.corriente.descripcion_corriente}}                            
                        </td>
                        <td>
                            {% if not form.corriente.presion %}
                            {% render_field form.form.presion class="form-control" placeholder="Presión no req. (saturado)" disabled="disabled" %}
                            {% else %}
                            {% render_field form.form.presion class="form-control" placeholder="Presión" required="required" %}
                            {% endif %}                            
                            <small>{{form.form.presion.errors}}</small>
                        </td>
                        <td>
                            {% render_field form.form.temperatura class="form-control temperatura" placeholder="Temperatura" %}
                            <small>{{form.form.temperatura.errors}}</small>
                        </td>
                        <td id="form-{{forloop.counter}}-flujo">
                        </td>
                        <td id="form-{{forloop.counter}}-entalpia">
                        </td>
                        <td id="form-{{forloop.counter}}-fase">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="resultados">

        </div>

        <div class="d-flex w-100 justify-content-center mb-3">
            <button id="submit" type="submit" name="submit" value="calcular" class="btn btn-danger"
                hx-post="{% url 'evaluar_turbina_vapor' pk=turbina.pk %}" hx-trigger="click" hx-swap="none" hx-indicator="#spinner">
                Calcular Resultados
            </button>
        </div>
        
    </div>
</form>

<div id="spinner" class="htmx-indicator indicator-style">
    <div class="spinner-grow text-danger" style="width: 6rem; height: 6rem;">
    </div>
</div>

{% include 'turbinas_vapor/ficha.html' %}
{% endblock %}

{% block extra_javascript %}
<script src="/static/js/auxiliares/turbinas/evaluacion.js"></script>

<script>
    $('select[name="presion_salida_unidad"]').html($('select[name="presion_salida_unidad"]').html().replaceAll('</option>', 'g</option>'));
</script>
{% endblock %}